In [50]:
import pandas as pd
import os

# Set the working directory to the dataset folder
os.chdir('/Users/apple/Downloads/5400_Group_Project/DATA/data_postgresSQL/dataset')   

# Read symbols_list.txt into a dataframe
df_symbols = pd.read_csv('symbols_list.txt', header=None, names=['symbol'])

# Drop rows with null values in the symbol column and rows containing "NA" in the symbol column
df_symbols = df_symbols.dropna(subset=['symbol'])
df_symbols = df_symbols[df_symbols['symbol'] != 'NA']

# Display the modified DataFrame
df_symbols

     symbol
0     MISAX
1     MSSMX
2     FPURX
3      OMQS
4      NNDM
...     ...
8516   LEDS
8517   LAES
8518    FUV
8519   WKEY
8520   WISA

[8520 rows x 1 columns]

In [51]:
import pandas as pd

# Read historical_price.csv into a dataframe
historical_price_df = pd.read_csv('historical_price.csv')

# Drop rows with null values in the symbol column
historical_price_df = historical_price_df.dropna(subset=['symbol'])

# Drop rows with "NA" text in the symbol column
historical_price_df = historical_price_df[~historical_price_df['symbol'].str.contains('NA')]

# Reset the index after dropping rows
historical_price_df = historical_price_df.reset_index(drop=True)

# Print  
historical_price_df

         symbol        date      open      high      low    close  volume
0         MISAX  2024-03-12     14.96     14.96    14.96    14.96       0
1         MISAX  2024-03-11     14.86     14.86    14.86    14.86       0
2         MISAX  2024-03-08     14.94     14.94    14.94    14.94       0
3         MISAX  2024-03-07     15.02     15.02    15.02    15.02       0
4         MISAX  2024-03-06     14.88     14.88    14.88    14.88       0
...         ...         ...       ...       ...      ...      ...     ...
31368993   WISA  2018-08-02   9440.00   9440.00  9000.00  9420.00      13
31368994   WISA  2018-08-01   9500.00   9500.00  9000.00  9000.00       8
31368995   WISA  2018-07-31   9500.00   9500.00  8800.00  9500.00       4
31368996   WISA  2018-07-30   8500.00   9000.00  8500.00  8820.00      10
31368997   WISA  2018-07-27  10000.00  10000.00  8400.00  9400.00      62

[31368998 rows x 7 columns]

In [52]:
import pandas as pd

# Load income_statement.csv
df = pd.read_csv('income_statement.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
income_statement_df = pd.DataFrame(data_list)

# Drop rows with null values in the symbol column and rows containing "NA" in the symbol column
income_statement_df = income_statement_df.dropna(subset=['symbol'])
income_statement_df = income_statement_df[income_statement_df['symbol'] != 'NA']

# Display the modified DataFrame
income_statement_df

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2023-09-30,OMQS,USD,0000278165,2023-11-13,2023-11-13 17:01:00,2023,Q3,17480000.0,13471000.0,...,-0.258581,215000.0,-4313000.0,-0.246739,-0.5500,-0.5500,7891444.0,7891444.0,https://www.sec.gov/Archives/edgar/data/278165...,https://www.sec.gov/Archives/edgar/data/278165...
1,2023-09-30,NNDM,USD,0001643303,2023-11-28,2023-11-28 09:30:55,2023,Q3,12158000.0,6789000.0,...,-5.522783,-273000.0,-66604000.0,-5.478204,-0.2600,-0.2600,256169231.0,256169231.0,https://www.sec.gov/Archives/edgar/data/164330...,https://www.sec.gov/Archives/edgar/data/164330...
2,2023-12-31,NUVL,USD,0001861560,2024-02-27,2024-02-27 06:42:43,2023,Q4,0.0,0.0,...,0.000000,0.0,-38292000.0,0.000000,-0.6200,-0.6200,62183325.0,62183325.0,https://www.sec.gov/Archives/edgar/data/186156...,https://www.sec.gov/Archives/edgar/data/186156...
3,2023-12-31,QSIAW,USD,0001816431,2024-02-29,2024-02-29 16:20:25,2023,Q4,400000.0,1315000.0,...,-55.120000,0.0,-22048000.0,-55.120000,-0.1600,-0.1600,141575000.0,141575000.0,https://www.sec.gov/Archives/edgar/data/181643...,https://www.sec.gov/Archives/edgar/data/181643...
4,2023-12-31,STRL,USD,0000874238,2024-02-27,2024-02-27 09:13:07,2023,Q4,485978000.0,398240000.0,...,0.112715,12341000.0,40173000.0,0.082664,1.3000,1.2800,30819000.0,31334000.0,https://www.sec.gov/Archives/edgar/data/874238...,https://www.sec.gov/Archives/edgar/data/874238...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4172,2023-12-31,INDI,USD,0001841925,2024-02-29,2024-02-29 16:53:34,2023,Q4,70133000.0,36253000.0,...,-0.221066,-1820000.0,-14110000.0,-0.201189,-0.0882,-0.0882,159996055.0,159996055.0,https://www.sec.gov/Archives/edgar/data/184192...,https://www.sec.gov/Archives/edgar/data/184192...
4173,2023-11-30,LEDS,USD,0001333822,2024-01-12,2024-01-12 06:07:11,2024,Q1,1650000.0,1405000.0,...,-0.361212,349000.0,-598000.0,-0.362424,-0.1200,-0.1200,4885000.0,4885000.0,https://www.sec.gov/Archives/edgar/data/133382...,https://www.sec.gov/Archives/edgar/data/133382...
4174,2023-09-30,FUV,USD,0001558583,2024-02-12,2024-02-12 06:11:05,2023,Q3,1110251.0,2962363.0,...,-12.648552,617826.0,-14043068.0,-12.648552,-1.5700,-1.5700,8954919.0,8954919.0,https://www.sec.gov/Archives/edgar/data/155858...,https://www.sec.gov/Archives/edgar/data/155858...
4175,2023-06-30,WKEY,USD,0001738699,2023-06-30,2023-06-29 20:00:00,2023,Q2,15107000.0,7110000.0,...,-0.449262,322000.0,-6968000.0,-0.461243,-4.8800,-4.8800,1429300.0,1429300.0,None,None
4176,2023-09-30,WISA,USD,0001682149,2023-11-14,2023-11-14 16:32:51,2023,Q3,769000.0,2438000.0,...,-7.946684,-17000.0,-6111000.0,-7.946684,-0.9700,-0.9700,6322464.0,6322464.0,https://www.sec.gov/Archives/edgar/data/168214...,https://www.sec.gov/Archives/edgar/data/168214...

In [53]:
import pandas as pd

# Load cashflow_statement.csv
df = pd.read_csv('cashflow_statement.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
cashflow_statement_df = pd.DataFrame(data_list)

# Drop rows with null values in the symbol column and rows containing "NA" in the symbol column
cashflow_statement_df = cashflow_statement_df.dropna(subset=['symbol'])
cashflow_statement_df = cashflow_statement_df[cashflow_statement_df['symbol'] != 'NA']

# Display the modified DataFrame
cashflow_statement_df

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,netIncome,depreciationAndAmortization,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,link,finalLink
0,2023-09-30,OMQS,USD,0000278165,2023-11-13,2023-11-13 17:01:00,2023,Q3,-4305000.0,958000.0,...,-360000.0,6.280000e+05,-1590000.0,408000.0,1998000.0,-1884000.0,0.0,-1884000.0,https://www.sec.gov/Archives/edgar/data/278165...,https://www.sec.gov/Archives/edgar/data/278165...
1,2023-09-30,NNDM,USD,0001643303,2023-11-28,2023-11-28 09:30:55,2023,Q3,-66873000.0,1588000.0,...,-67304000.0,-1.091000e+06,34768000.0,489323000.0,454555000.0,-19545000.0,-3469000.0,-23014000.0,https://www.sec.gov/Archives/edgar/data/164330...,https://www.sec.gov/Archives/edgar/data/164330...
2,2023-12-31,NUVL,USD,0001861560,2024-02-27,2024-02-27 06:42:43,2023,Q4,-38292000.0,0.0,...,333423000.0,0.000000e+00,246953000.0,335387000.0,88434000.0,-30209000.0,0.0,-30209000.0,https://www.sec.gov/Archives/edgar/data/186156...,https://www.sec.gov/Archives/edgar/data/186156...
3,2023-12-31,QSIAW,USD,0001816431,2024-02-29,2024-02-29 16:20:25,2023,Q4,-22048000.0,1093000.0,...,-61000.0,0.000000e+00,40038000.0,133860000.0,93822000.0,-20969000.0,367000.0,-20602000.0,https://www.sec.gov/Archives/edgar/data/181643...,https://www.sec.gov/Archives/edgar/data/181643...
4,2023-12-31,STRL,USD,0000874238,2024-02-27,2024-02-27 09:13:07,2023,Q4,40173000.0,14874000.0,...,-23089000.0,-7.118000e+06,62165000.0,471563000.0,409398000.0,147369000.0,-15135000.0,132234000.0,https://www.sec.gov/Archives/edgar/data/874238...,https://www.sec.gov/Archives/edgar/data/874238...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4256,2023-12-31,INDI,USD,0001841925,2024-02-29,2024-02-29 16:53:34,2023,Q4,-14110000.0,6193000.0,...,9372000.0,2.239000e+06,-8970000.0,151678000.0,160648000.0,-16408000.0,-4171999.0,-20579999.0,https://www.sec.gov/Archives/edgar/data/184192...,https://www.sec.gov/Archives/edgar/data/184192...
4257,2023-11-30,LEDS,USD,0001333822,2024-01-12,2024-01-12 06:07:11,2024,Q1,-596000.0,154000.0,...,-114000.0,-4.100000e+04,-246000.0,2495000.0,2741000.0,-79000.0,-62000.0,-141000.0,https://www.sec.gov/Archives/edgar/data/133382...,https://www.sec.gov/Archives/edgar/data/133382...
4258,2023-09-30,FUV,USD,0001558583,2024-02-12,2024-02-12 06:11:05,2023,Q3,-14043068.0,840195.0,...,3877884.0,-1.404195e+10,-1113221.0,232827.0,1346048.0,-5161627.0,-4478.0,-5166105.0,https://www.sec.gov/Archives/edgar/data/155858...,https://www.sec.gov/Archives/edgar/data/155858...
4259,2023-06-30,WKEY,USD,0001738699,2023-06-30,2023-06-29 20:00:00,2023,Q2,-6968000.0,186000.0,...,2985000.0,-8.000000e+03,-6751000.0,14063000.0,20814000.0,-8042999.0,-1677000.0,-9719999.0,None,None
4260,2023-09-30,WISA,USD,0001682149,2023-11-14,2023-11-14 16:32:51,2023,Q3,-6111000.0,17000.0,...,1214000.0,0.000000e+00,-1795000.0,212000.0,2007000.0,-2975000.0,-34000.0,-3009000.0,https://www.sec.gov/Archives/edgar/data/168214...,https://www.sec.gov/Archives/edgar/data/168214...

In [54]:
import pandas as pd

# Load balance_sheet.csv
df = pd.read_csv('balance_sheet.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
balance_sheet_df = pd.DataFrame(data_list)

# Drop rows with null values in the symbol column and rows containing "NA" in the symbol column
balance_sheet_df = balance_sheet_df.dropna(subset=['symbol'])
balance_sheet_df = balance_sheet_df[balance_sheet_df['symbol'] != 'NA']

# Display the modified DataFrame
balance_sheet_df

,date,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,cashAndCashEquivalents,shortTermInvestments,...,totalStockholdersEquity,totalEquity,totalLiabilitiesAndStockholdersEquity,minorityInterest,totalLiabilitiesAndTotalEquity,totalInvestments,totalDebt,netDebt,link,finalLink
0,2023-09-30,OMQS,USD,0000278165,2023-11-13,2023-11-13 17:01:00,2023,Q3,408000.0,0.0,...,-1.919200e+07,-1.919200e+07,53053000,0,53053000,0.0,15441000,15033000.0,https://www.sec.gov/Archives/edgar/data/278165...,https://www.sec.gov/Archives/edgar/data/278165...
1,2023-09-30,NNDM,USD,0001643303,2023-11-28,2023-11-28 09:30:55,2023,Q3,489323000.0,383354000.0,...,1.021483e+09,1.022143e+09,1073067000,660000,1073067000,515305000.0,9588000,-479735000.0,https://www.sec.gov/Archives/edgar/data/164330...,https://www.sec.gov/Archives/edgar/data/164330...
2,2023-04-30,ELWS,JPY,0001944399,2023-04-30,2023-04-29 20:00:00,2022,Q4,177886393.0,0.0,...,2.085149e+08,2.085149e+08,453035235,0,453035235,0.0,195538868,17652475.0,None,None
3,2023-12-31,NUVL,USD,0001861560,2024-02-27,2024-02-27 06:42:43,2023,Q4,335387000.0,384518000.0,...,7.005610e+08,7.005610e+08,732384000,0,732384000,384518000.0,0,-335387000.0,https://www.sec.gov/Archives/edgar/data/186156...,https://www.sec.gov/Archives/edgar/data/186156...
4,2023-12-31,QSIAW,USD,0001816431,2024-02-29,2024-02-29 16:20:25,2023,Q4,133860000.0,123876000.0,...,2.716190e+08,2.716190e+08,298250000,0,298250000,123876000.0,15303000,-118557000.0,https://www.sec.gov/Archives/edgar/data/181643...,https://www.sec.gov/Archives/edgar/data/181643...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4286,2023-11-30,LEDS,USD,0001333822,2024-01-12,2024-01-12 06:07:11,2024,Q1,2322000.0,0.0,...,7.040000e+05,7.500000e+05,13160000,46000,13160000,1001000.0,7654000,5332000.0,https://www.sec.gov/Archives/edgar/data/133382...,https://www.sec.gov/Archives/edgar/data/133382...
4287,2023-06-30,LAES,USD,0001951222,2023-06-30,2023-06-29 20:00:00,2023,Q2,1860000.0,0.0,...,-6.450000e+05,-6.450000e+05,24077000,0,24077000,0.0,15005000,13145000.0,None,None
4288,2023-09-30,FUV,USD,0001558583,2024-02-12,2024-02-12 06:11:05,2023,Q3,232827.0,0.0,...,1.146068e+07,1.146068e+07,50067893,0,50067893,0.0,15091234,14858407.0,https://www.sec.gov/Archives/edgar/data/155858...,https://www.sec.gov/Archives/edgar/data/155858...
4289,2023-06-30,WKEY,USD,0001738699,2023-06-30,2023-06-29 20:00:00,2023,Q2,14063000.0,5000.0,...,2.373500e+07,2.126200e+07,47008000,-2473000,47008000,480000.0,9121000,-4942000.0,None,None
4290,2023-09-30,WISA,USD,0001682149,2023-11-14,2023-11-14 16:32:51,2023,Q3,212000.0,0.0,...,8.850000e+05,8.850000e+05,5533000,0,5533000,0.0,1264000,1052000.0,https://www.sec.gov/Archives/edgar/data/168214...,https://www.sec.gov/Archives/edgar/data/168214...

In [55]:
import pandas as pd

# Load company_profiles.csv
df = pd.read_csv('company_profiles.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
company_profiles_df = pd.DataFrame(data_list)

# Drop rows with null values in the symbol column and rows containing "NA" in the symbol column
company_profiles_df = company_profiles_df.dropna(subset=['symbol'])
company_profiles_df = company_profiles_df[company_profiles_df['symbol'] != 'NA']

# Display the DataFrame
company_profiles_df

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,zip,dcfDiff,dcf,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,MISAX,15.1100,1.130,0.0,3333959942,0.222,12.5-15.15,-0.0400,Victory Trivalent International Small-Cap CL A,USD,...,None,NaN,0.000000,https://financialmodelingprep.com/image-stock/...,2007-08-20,True,False,True,False,True
1,MSSMX,8.2400,1.340,0.0,412042873,0.000,5.84-8.44,-0.1400,MSIF Inception Portfolio Class A,USD,...,None,NaN,0.000000,https://financialmodelingprep.com/image-stock/...,1995-12-29,True,False,True,False,True
2,FPURX,25.4500,1.020,0.0,29561452539,0.398,20.8-25.43,0.0200,Fidelity Puritan Fund,USD,...,None,NaN,0.000000,https://financialmodelingprep.com/image-stock/...,1980-01-02,True,False,True,False,True
3,OMQS,0.5269,1.358,41448.0,5621760,0.000,0.331-6.35,-0.0531,OMNIQ Corp.,USD,...,84119,0.289030,0.237874,https://financialmodelingprep.com/image-stock/...,2011-03-18,False,False,True,False,False
4,NNDM,2.7300,1.760,1921355.0,675246456,0.000,2.06-3.35,0.0400,Nano Dimension Ltd.,USD,...,7403635,4.824430,-2.094432,https://financialmodelingprep.com/image-stock/...,2016-03-07,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8516,LEDS,1.3900,1.079,60136.0,6906952,0.000,1.01-3.47,-0.0500,SemiLEDs Corporation,USD,...,350,1.526220,3.646220,https://financialmodelingprep.com/image-stock/...,2010-12-09,False,False,True,False,False
8517,LAES,1.6200,0.000,7046943.0,30337416,0.000,0.91-28.5,-0.0700,SEALSQ Corp,USD,...,1216,NaN,0.000000,https://financialmodelingprep.com/image-stock/...,2023-05-23,True,False,True,False,False
8518,FUV,0.4851,2.747,66970.0,4584690,0.000,0.46-1.89,-0.0059,"Arcimoto, Inc.",USD,...,97402,0.593928,1.603930,https://financialmodelingprep.com/image-stock/...,2017-09-21,False,False,True,False,False
8519,WKEY,2.5000,1.774,171973.0,23739645,0.000,1.35-10.45,-0.0300,WISeKey International Holding AG,USD,...,6303,NaN,0.000000,https://financialmodelingprep.com/image-stock/...,2019-01-11,True,False,True,True,False
8520,WISA,0.0278,0.041,16818590.0,1620643,0.000,0.026-4.36,-0.0010,"WiSA Technologies, Inc.",USD,...,97006,1.560060,2.580060,https://financialmodelingprep.com/image-stock/...,2018-07-27,False,False,True,False,False

In [56]:
import pandas as pd

# Load earning_call_transcript.csv
df = pd.read_csv('earning_call_transcript.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
earning_call_transcript_df = pd.DataFrame(data_list)

# Display the DataFrame
earning_call_transcript_df

,symbol,quarter,year,date,content
0,RICK,1,2024,2024-02-08 22:36:04,"Mark Moran: Greetings, and welcome to RCI Hosp..."
1,PLUS,3,2024,2024-02-06 18:46:02,"Operator: Good day, ladies and gentlemen. Welc..."
2,PAHC,2,2024,2024-02-08 15:55:26,Operator: Hello and thank you for standing by....
3,VBNK,1,2024,2024-03-06 11:30:09,"Operator: Good morning, ladies and gentlemen. ..."
4,STX,2,2024,2024-01-24 21:07:09,Operator: Welcome to the Seagate Technology Fi...
...,...,...,...,...,...
338,OGI,1,2024,2024-02-13 10:39:02,"Operator: Good morning. My name is Krista, and..."
339,CGC,3,2024,2024-02-09 14:34:09,"Operator: Good morning. My name is Joanna, and..."
340,RDUS,1,2024,2024-01-04 13:53:11,Operator: Good day and thank you for standing ...
341,AMBA,4,2024,2024-02-27 19:24:10,"Operator: Good day, and thank you for standing..."
342,EMKR,1,2024,2024-02-08 20:03:07,"Operator: Good day, and thank you for standing..."

In [57]:
import pandas as pd

# Load financial_ratios.csv
df = pd.read_csv('financial_ratios.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
financial_ratios_df = pd.DataFrame(data_list)

columns_to_keep = ['date', 'symbol', 'debtRatio', 'debtEquityRatio', 'cashFlowToDebtRatio',
                   'priceToBookRatio', 'priceToSalesRatio', 'priceEarningsRatio',
                   'priceEarningsToGrowthRatio', 'receivablesTurnover', 'payablesTurnover',
                   'assetTurnover', 'currentRatio', 'quickRatio', 'cashRatio', 'returnOnEquity',
                   'grossProfitMargin', 'netProfitMargin', 'dividendPayoutRatio']

financial_ratios_df = financial_ratios_df[columns_to_keep]

# Display the DataFrame
financial_ratios_df

,date,symbol,debtRatio,debtEquityRatio,cashFlowToDebtRatio,priceToBookRatio,priceToSalesRatio,priceEarningsRatio,priceEarningsToGrowthRatio,receivablesTurnover,payablesTurnover,assetTurnover,currentRatio,quickRatio,cashRatio,returnOnEquity,grossProfitMargin,netProfitMargin,dividendPayoutRatio
0,2023-09-30,OMQS,0.291049,-0.804554,-0.122013,-0.662006,0.726844,-0.736449,-0.060143,0.946297,0.252238,0.329482,0.373405,0.273845,0.005918,0.224729,0.229348,-0.246739,0.0
1,2023-09-30,NNDM,0.008935,0.009386,-2.038486,0.682126,57.310438,-2.615385,-0.004755,0.802243,0.833211,0.011330,24.567460,23.990921,13.222444,-0.065203,0.441602,-5.478204,0.0
2,2023-04-30,ELWS,0.431620,0.937769,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,1.332826,1.294697,1.010263,NaN,0.000000,0.000000,0.0
3,2023-12-31,NUVL,0.000000,0.000000,0.000000,6.532009,0.000000,-29.876155,-5.875644,0.000000,0.000000,0.000000,22.829023,22.622160,10.539138,-0.054659,0.000000,0.000000,0.0
4,2023-12-31,QSIAW,0.051309,0.056340,-1.370254,1.047665,711.414375,-3.226662,0.548532,1.086957,0.744621,0.001341,22.939960,22.233095,11.530709,-0.081173,-2.287500,-55.120000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4287,2023-11-30,LEDS,0.581611,10.872159,-0.010321,8.673651,3.700758,-2.552780,0.076583,1.839465,3.435208,0.125380,0.741388,0.325184,0.234569,-0.849432,0.148485,-0.362424,0.0
4288,2023-06-30,LAES,0.623209,-23.263566,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,1.697231,0.585624,0.192926,NaN,0.000000,0.000000,0.0
4289,2023-09-30,FUV,0.301415,1.316784,-0.342028,0.656343,6.775163,-0.133912,0.016356,3.200105,0.523467,0.022175,0.461185,0.019657,0.007894,-1.225326,-1.668192,-12.648552,0.0
4290,2023-06-30,WKEY,0.194031,0.384285,-0.881811,0.264964,0.416292,-0.225636,-0.000752,3.629745,1.373382,0.321371,1.489880,0.929391,0.716951,-0.293575,0.529357,-0.461243,0.0
4291,2023-09-30,WISA,0.228447,1.428249,-2.353639,4.214976,4.850785,-0.152604,0.007962,1.775982,1.245148,0.138984,1.254219,0.170095,0.055907,-6.905085,-2.170351,-7.946684,0.0

In [58]:
import pandas as pd

# Load insider_trading_statistic.csv
df = pd.read_csv('insider_trading_statistic.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
insider_trading_statistic_df = pd.DataFrame(data_list)

# Display the DataFrame
insider_trading_statistic_df

,symbol,cik,year,quarter,purchases,sales,buySellRatio,totalBought,totalSold,averageBought,averageSold,pPurchases,sSales
0,OMQS,0000278165,2023,2,0,4,0.0000,0.0,9288.0,0.000000e+00,2322.0000,0,4
1,NUVL,0001861560,2023,4,12,40,0.3000,147041.0,514082.0,1.225342e+04,12852.0500,0,28
2,QSIAW,0001816431,2023,3,1,0,0.0000,115942.0,0.0,1.159420e+05,0.0000,0,0
3,STRL,0000874238,2024,1,8,11,0.7273,321754.0,201400.0,4.021925e+04,18309.0909,0,9
4,ATRC,0001323885,2024,1,18,12,1.5000,378137.0,118157.0,2.100761e+04,9846.4167,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3209,EMKR,0000808326,2024,1,4,1,4.0000,4956187.0,0.0,1.239047e+06,0.0000,2,0
3210,INDI,0001841925,2024,1,39,52,0.7500,883251.0,774555.0,2.264746e+04,14895.2885,0,6
3211,LEDS,0001333822,2024,1,7,4,1.7500,4244201.0,233319.0,6.063144e+05,58329.7500,0,0
3212,FUV,0001558583,2024,1,0,1,0.0000,0.0,1000.0,0.000000e+00,1000.0000,0,0
3213,WISA,0001682149,2023,4,0,4,0.0000,0.0,10195.0,0.000000e+00,2548.7500,0,4

In [59]:
import pandas as pd

# Load insider_trading.csv
df = pd.read_csv('insider_trading.csv')

# Get data from the second column (index 1)
data = df.iloc[:, 1]

# Convert the data to a list of dictionaries
data_list = [eval(item) for item in data]

# Create a DataFrame from the list
insider_trading_df = pd.DataFrame(data_list)

# Display the DataFrame
insider_trading_df

,symbol,filingDate,transactionDate,reportingCik,transactionType,securitiesOwned,companyCik,reportingName,typeOfOwner,acquistionOrDisposition,formType,securitiesTransacted,price,securityName,link
0,OMQS,2023-05-22 17:53:40,2023-05-18,0001429875,S-Sale,62728.0,0000278165,Nissenson Neev,"director, officer: Chief Financial Officer",D,4,5000.0,5.770,Common Stock,https://www.sec.gov/Archives/edgar/data/278165...
1,NUVL,2024-03-25 16:49:20,2024-03-22,0001862148,M-Exempt,53300.0,0001861560,Noci Darlene,officer: Chief Development Officer,A,4,10000.0,14.400,Class A Common Stock,https://www.sec.gov/Archives/edgar/data/186156...
2,QSIAW,2023-09-26 16:21:50,2023-09-25,0001994864,A-Award,115942.0,0001816431,Jafri Amir,director,A,4,115942.0,0.000,Class A Common Stock,https://www.sec.gov/Archives/edgar/data/181643...
3,STRL,2024-03-25 18:01:16,2024-03-25,0001366918,S-Sale,267171.0,0000874238,BALLSCHMIEDE RONALD A,officer: EVP & CFO,D,4,3289.0,113.518,Common Stock,https://www.sec.gov/Archives/edgar/data/874238...
4,ATRC,2024-03-20 08:41:34,2024-03-18,0001861996,S-Sale,50954.0,0001323885,Dahlquist Karl S.,officer: Chief Legal Officer,D,4,1885.0,32.160,Common Stock,https://www.sec.gov/Archives/edgar/data/132388...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,EMKR,2024-02-16 16:48:44,2024-02-15,0001398825,P-Purchase,12552577.0,0000808326,Archon Capital Management LLC,10 percent owner,A,4,2453898.0,0.385,"Common Stock, no par value",https://www.sec.gov/Archives/edgar/data/808326...
3375,INDI,2024-03-22 17:41:08,2024-03-20,0002009989,M-Exempt,37845.0,0001841925,Wittmann Michael,officer: Chief Operating Officer,A,4,2385.0,0.000,Class A Common Stock,https://www.sec.gov/Archives/edgar/data/184192...
3376,LEDS,2024-02-20 06:30:04,2024-02-09,0001228895,C-Conversion,1275999.0,0001333822,DOAN TRUNG T,"director, 10 percent owner, officer: Chairman ...",A,4,629921.0,1.270,Common Stock,https://www.sec.gov/Archives/edgar/data/133382...
3377,FUV,2023-04-04 18:16:41,2023-03-31,0001791477,A-Award,19375.0,0001558583,Calderon Nancy E.,director,A,4,10535.0,0.000,Restricted Stock Unit,https://www.sec.gov/Archives/edgar/data/155858...
3378,WISA,2024-01-30 16:54:30,2023-12-31,0001323181,,11129.0,0001682149,Howitt David Marc,director,D,5,0.0,0.000,Common Stock,https://www.sec.gov/Archives/edgar/data/168214...

In [60]:
import pandas as pd
import numpy as np

# Load revenue_geo_segment.csv
df = pd.read_csv('revenue_geo_segment.csv')

# Get data from the first and second columns (indexes 0 and 1)
symbol = df.iloc[:, 0]
data = df.iloc[:, 1]

# Create empty lists to store the extracted data
symbols = []
dates = []
regions = []
revenues = []

# Iterate over the data and extract information
for sym, item in zip(symbol, data):
    if pd.isnull(item):
        # Append None values if the item is NaN
        symbols.append(sym)
        dates.append(None)
        regions.append(None)
        revenues.append(None)
    else:
        try:
            # Try to parse the item as a dictionary
            item_dict = eval(item)
            # Extract date from the dictionary key
            date = list(item_dict.keys())[0]
            # Iterate over the regions and revenues and append them to the respective lists
            for region, revenue in item_dict[date].items():
                symbols.append(sym)
                dates.append(date)
                regions.append(region)
                revenues.append(revenue)
        except Exception as e:
            # Handle any exceptions (e.g., invalid data format)
            print(f"Error processing item: {item}. Error: {e}")
            symbols.append(sym)
            dates.append(None)
            regions.append(None)
            revenues.append(None)

# Create a DataFrame from the extracted data
revenue_geo_segment_df = pd.DataFrame({
    'symbol': symbols,
    'date': dates,
    'region': regions,
    'revenue': revenues
})

# Display the DataFrame
revenue_geo_segment_df

     symbol        date                 region     revenue
0      OMQS  2021-12-31                 ISRAEL  21848000.0
1      OMQS  2021-12-31      Rest of The World   2678000.0
2      OMQS  2021-12-31          UNITED STATES  53725000.0
3      NNDM  2021-12-31     AsianPacificMember    743000.0
4      NNDM  2021-12-31  EuropeAndIsraelMember   7237000.0
...     ...         ...                    ...         ...
4143   LEDS  2023-08-31                 TAIWAN   1150000.0
4144   LEDS  2023-08-31          UNITED STATES   1952000.0
4145   WISA  2022-12-31           Asia Pacific   1762000.0
4146   WISA  2022-12-31                 Europe   1088000.0
4147   WISA  2022-12-31          North America    515000.0

[4148 rows x 4 columns]

In [61]:
import pandas as pd

# Load revenue_product_segment.csv
df = pd.read_csv('revenue_product_segment.csv')

# Create empty lists to store data
symbols = []
dates = []
segments = []
revenues = []

# Iterate over each row in the DataFrame
for _, row in df.iterrows():
    symbol = row['symbol']
    data = row['revenue_product_segment']
    if pd.notna(data):
        for date, segment_revenue in eval(data).items():
            for segment, revenue in segment_revenue.items():
                # Append symbol, date, segment, and revenue to the lists
                symbols.append(symbol)
                dates.append(date)
                segments.append(segment)
                revenues.append(revenue)
    else:
        # If data is NaN, append None values
        symbols.append(None)
        dates.append(None)
        segments.append(None)
        revenues.append(None)

# Create a DataFrame from the lists
revenue_product_segment_df = pd.DataFrame({
    'symbol': symbols,
    'date': dates,
    'segment': segments,
    'revenue': revenues
})

# Display the DataFrame
revenue_product_segment_df

     symbol        date                             segment      revenue
0     QSIAW  2023-12-31                             Product     377000.0
1     QSIAW  2023-12-31                             Service      23000.0
2      STRL  2023-12-31          Building Solutions Segment   88745000.0
3      STRL  2023-12-31  E-Infrastructure Solutions Segment          0.0
4      STRL  2023-12-31    Transportation Solutions Segment          0.0
...     ...         ...                                 ...          ...
5502   INDI  2023-12-31                             Service   14093000.0
5503   INDI  2023-12-31                             Product  116516000.0
5504    FUV  2023-09-30                       Rental Member      64618.0
5505   WISA  2023-09-30                          Components     258000.0
5506   WISA  2023-09-30             Consumer Audio Products     511000.0

[5507 rows x 4 columns]

In [66]:
import psycopg2

# Establish a connection to the default 'postgres' database
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres",
    password="123",
    host="localhost"
)

# Create a new database named 'financial_data'
conn.autocommit = True
cur = conn.cursor()
#cur.execute("CREATE DATABASE stockStock")

# Close the connection to the default database
conn.close()

# Connect to the newly created database 'financial_data'
conn = psycopg2.connect(
    dbname="stockStock",
    user="postgres",
    password="123",
    host="localhost"
)
cur = conn.cursor()

In [67]:
import psycopg2
from psycopg2 import sql

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="stockStock",
    user="postgres",
    password="123",
    host="localhost"
)
cur = conn.cursor()

# Create the symbols_list table
cur.execute("""
CREATE TABLE IF NOT EXISTS symbols_list (
    symbol VARCHAR(10) PRIMARY KEY
);
""")

# Create the balance_sheet table
cur.execute("""
CREATE TABLE IF NOT EXISTS balance_sheet (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    totaldebt FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the cashflow_statement table
cur.execute("""
CREATE TABLE IF NOT EXISTS cashflow_statement (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    freecashflow FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the company_profiles table
cur.execute("""
CREATE TABLE IF NOT EXISTS company_profiles (
    id SERIAL PRIMARY KEY,
    symbol VARCHAR(10) NOT NULL,
    companyname VARCHAR(255),
    industry VARCHAR(255),
    sector VARCHAR(255),
    beta FLOAT, 
    mktcap FLOAT, 
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the earning_call_transcript table
cur.execute("""
CREATE TABLE IF NOT EXISTS earning_call_transcript (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    transcript TEXT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the financial_ratios table
cur.execute("""
CREATE TABLE IF NOT EXISTS financial_ratios (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    debtRatio FLOAT, 
    debtEquityRatio FLOAT,
    cashFlowToDebtRatio FLOAT,
    priceToBookRatio FLOAT,
    priceToSalesRatio FLOAT,
    priceEarningsRatio FLOAT,
    priceEarningsToGrowthRatio FLOAT,
    receivablesTurnover FLOAT,
    payablesTurnover FLOAT,
    assetTurnover FLOAT,
    currentRatio FLOAT,
    quickRatio FLOAT,
    cashRatio FLOAT,
    returnOnEquity FLOAT,
    grossProfitMargin FLOAT,
    netProfitMargin FLOAT,
    dividendPayoutRatio FLOAT,        
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the historical_price table
cur.execute("""
CREATE TABLE IF NOT EXISTS historical_price (
    id SERIAL PRIMARY KEY,
    symbol VARCHAR(10) NOT NULL,
    date DATE NOT NULL,
    open FLOAT,
    high FLOAT,
    low FLOAT,
    close FLOAT,
    volume BIGINT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the income_statement table
cur.execute("""
CREATE TABLE IF NOT EXISTS income_statement (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    revenue FLOAT,
    netIncome FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the insider_trading_statistic table
cur.execute("""
CREATE TABLE IF NOT EXISTS insider_trading_statistic (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    total_insider_shares_traded FLOAT,
    total_insider_shares_held FLOAT,
    percent_insider_shares_held FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the insider_trading table
cur.execute("""
CREATE TABLE IF NOT EXISTS insider_trading (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    insider_name VARCHAR(255),
    relation VARCHAR(255),
    last_date FLOAT,
    transaction_type VARCHAR(255),
    own_type VARCHAR(255),
    shares_traded FLOAT,
    last_price FLOAT,
    shares_held FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the revenue_geo_segment table
cur.execute("""
CREATE TABLE IF NOT EXISTS revenue_geo_segment (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    country VARCHAR(255),
    revenue FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Create the revenue_product_segment table
cur.execute("""
CREATE TABLE IF NOT EXISTS revenue_product_segment (
    id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    symbol VARCHAR(10) NOT NULL,
    product_category VARCHAR(255),
    revenue FLOAT,
    CONSTRAINT symbol_fk FOREIGN KEY (symbol) REFERENCES symbols_list (symbol) ON DELETE NO ACTION ON UPDATE CASCADE
);
""")

# Commit changes and close the connection
conn.commit()
conn.close()

In [68]:
from sqlalchemy import create_engine

# Assuming you have created a SQLAlchemy engine
engine = create_engine('postgresql://postgres:123@localhost:5432/stockStock')

# Drop rows with null values in the 'symbol' column
df_symbols_clean = df_symbols.dropna(subset=['symbol'])

# Insert cleaned data into PostgreSQL table
df_symbols_clean.to_sql('symbols_list', engine, if_exists='append', index=False)

520

In [69]:
from sqlalchemy import create_engine, text
import pandas as pd

# Create the SQLAlchemy engine
engine = create_engine('postgresql://postgres:123@localhost:5432/stockStock')

# Define the insert query
query = text("""
INSERT INTO financial_ratios (
    date, symbol, debtratio, debtequityratio, cashflowtodebtratio,
    pricetobookratio, pricetosalesratio, priceearningsratio,
    priceearningstogrowthratio, receivablesturnover, payablesturnover,
    assetturnover, currentratio, quickratio, cashratio, returnonequity,
    grossprofitmargin, netprofitmargin, dividendpayoutratio
) VALUES (
    :date, :symbol, :debtRatio, :debtEquityRatio, :cashFlowToDebtRatio,
    :priceToBookRatio, :priceToSalesRatio, :priceEarningsRatio,
    :priceEarningsToGrowthRatio, :receivablesTurnover, :payablesTurnover,
    :assetTurnover, :currentRatio, :quickRatio, :cashRatio, :returnOnEquity,
    :grossProfitMargin, :netProfitMargin, :dividendPayoutRatio
)
""")

# Filter out columns that are present in both dataframes
common_columns = set(financial_ratios_df.columns).intersection(set([
    'date', 'symbol', 'debtRatio', 'debtEquityRatio', 'cashFlowToDebtRatio',
    'priceToBookRatio', 'priceToSalesRatio', 'priceEarningsRatio',
    'priceEarningsToGrowthRatio', 'receivablesTurnover', 'payablesTurnover',
    'assetTurnover', 'currentRatio', 'quickRatio', 'cashRatio', 'returnOnEquity',
    'grossProfitMargin', 'netProfitMargin', 'dividendPayoutRatio'
]))

# Filter out rows with invalid date values
valid_dates_df = financial_ratios_df[pd.to_datetime(financial_ratios_df['date'], errors='coerce').notnull()]

# Iterate over the valid dates DataFrame and insert rows into the database
with engine.connect() as conn:
    # Begin transaction
    with conn.begin():
        for index, row in valid_dates_df.iterrows():
            if row['symbol'] != 'NA':  # Skip rows with symbol 'NA'
                values = {
                    'date': row['date'], 'symbol': row['symbol'], 'debtRatio': row['debtRatio'], 
                    'debtEquityRatio': row['debtEquityRatio'], 'cashFlowToDebtRatio': row['cashFlowToDebtRatio'],
                    'priceToBookRatio': row['priceToBookRatio'], 'priceToSalesRatio': row['priceToSalesRatio'],
                    'priceEarningsRatio': row['priceEarningsRatio'], 'priceEarningsToGrowthRatio': row['priceEarningsToGrowthRatio'],
                    'receivablesTurnover': row['receivablesTurnover'], 'payablesTurnover': row['payablesTurnover'],
                    'assetTurnover': row['assetTurnover'], 'currentRatio': row['currentRatio'], 'quickRatio': row['quickRatio'],
                    'cashRatio': row['cashRatio'], 'returnOnEquity': row['returnOnEquity'], 'grossProfitMargin': row['grossProfitMargin'],
                    'netProfitMargin': row['netProfitMargin'], 'dividendPayoutRatio': row['dividendPayoutRatio']
                }
                try:
                    conn.execute(query, values)
                except Exception as e:
                    print(f"Error inserting row {index}: {e}")

In [70]:
import psycopg2
from psycopg2 import sql
from psycopg2.extras import execute_values
import pandas as pd

# Assuming you have established a connection to your PostgreSQL database
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="stockStock",
    user="postgres",
    password="123",
    host="localhost"
)
cur = conn.cursor()
# connection = psycopg2.connect("your_connection_string_here")

# Assuming your DataFrame is named historical_price_df
data = [tuple(row) for row in historical_price_df.values]

# Define the insert query
insert_query = """
    INSERT INTO historical_price (symbol, date, open, high, low, close, volume)
    VALUES %s
"""

# Execute the insert query
try:
    with conn.cursor() as cursor:
        execute_values(cursor, insert_query, data)
        conn.commit()
        print("Data inserted successfully.")
except Exception as e:
    print(f"Error inserting data: {e}")

# Close the connection
conn.close()

Data inserted successfully.

In [71]:
from sqlalchemy import create_engine, types

# Assuming you have already established a connection to your PostgreSQL database
engine = create_engine('postgresql://postgres:123@localhost:5432/stockStock')

# Define the data types for each column
dtype = {
    'date': types.DATE(),
    'symbol': types.VARCHAR(),
    'revenue': types.FLOAT(),
    'netIncome': types.FLOAT()
}

# Selecting only the columns you want to insert and renaming them
columns_to_insert = ['date', 'symbol', 'revenue', 'netIncome']
subset_df = income_statement_df[columns_to_insert].rename(columns={
    'date': 'date',
    'symbol': 'symbol',
    'revenue': 'revenue',
    'netIncome': 'netincome'
})

# Inserting data from the subset DataFrame to PostgreSQL table
subset_df.to_sql('income_statement', con=engine, if_exists='append', index=False, dtype=dtype)

176

In [72]:
from sqlalchemy import create_engine, types

# Assuming you have already established a connection to your PostgreSQL database
engine = create_engine('postgresql://postgres:123@localhost:5432/stockStock')

# Define the data types for each column
dtype = {
    'date': types.DATE(),
    'symbol': types.VARCHAR(),
    'freeCashFlow': types.FLOAT()
}

# Selecting only the columns you want to insert and renaming them
columns_to_insert = ['date', 'symbol', 'freeCashFlow']
subset_df = cashflow_statement_df[columns_to_insert].rename(columns={
    'date': 'date',
    'symbol': 'symbol',
    'freeCashFlow': 'freecashflow'
})

# Inserting data from the subset DataFrame to PostgreSQL table
subset_df.to_sql('cashflow_statement', con=engine, if_exists='append', index=False, dtype=dtype)

260

In [73]:
from sqlalchemy import create_engine, types

# Assuming you have already established a connection to your PostgreSQL database
engine = create_engine('postgresql://postgres:123@localhost:5432/stockStock')

# Define the data types for each column
dtype = {
    'date': types.DATE(),
    'symbol': types.VARCHAR(),
    'totalDebt': types.FLOAT()
}

# Selecting only the columns you want to insert and renaming them
columns_to_insert = ['date', 'symbol', 'totalDebt']
subset_df = balance_sheet_df[columns_to_insert].rename(columns={
    'date': 'date',
    'symbol': 'symbol',
    'totalDebt': 'totaldebt'
})

# Inserting data from the subset DataFrame to PostgreSQL table
subset_df.to_sql('balance_sheet', con=engine, if_exists='append', index=False, dtype=dtype)

290

In [74]:
from sqlalchemy import create_engine, types

# Assuming you have already established a connection to your PostgreSQL database
engine = create_engine('postgresql://postgres:123@localhost:5432/stockStock')

# Define the data types for each column
dtype = {
    'symbol': types.VARCHAR(),
    'companyName': types.VARCHAR(),
    'industry': types.VARCHAR(),
    'sector': types.VARCHAR(),
    'beta': types.FLOAT(),
    'mktCap': types.FLOAT()
}

# Selecting only the columns you want to insert and renaming them
columns_to_insert = ['symbol', 'companyName','industry','sector','beta','mktCap']
subset_df = company_profiles_df[columns_to_insert].rename(columns={
    'symbol': 'symbol',
    'companyName': 'companyname',
    'industry': 'industry',
    'sector': 'sector',
    'beta': 'beta',
    'mktCap': 'mktcap',
})

# Inserting data from the subset DataFrame to PostgreSQL table
subset_df.to_sql('company_profiles', con=engine, if_exists='append', index=False, dtype=dtype)

520